<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Travel Planner</title>
    <link href="../css/autocomplete.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="../css/travel-planner.min.css" rel="stylesheet">
    <script id="trains-query-template" type="text/x-handlebars-template">
        <h1 class="page-header">Trains</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-8 placeholder">
                <form class="form-horizontal trainsForm" role="form" action="/trains" method="POST">
                    <div class="form-group">
                        <label for="trainsStnfrom" class="col-sm-3 control-label">Source Station</label>
                        <div class="col-sm-4">
                            <input type="text" data-stn='' class="form-control typeahead" required id="trainsStnfrom" name="stnfrom">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fieldStnto" class="col-sm-3 control-label">Destination</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control typeahead" required id="fieldStnto" name="stnto">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fieldDate" class="col-sm-3 control-label">Date</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" required id="fieldDate" name="date">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-6">
                            <button type="submit" class="btn btn-default" id="findTrains">Find Trains</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script id="trains-result-template" type="text/x-handlebars-template">
        <h2 class="sub-header">Trains Result</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Train No.</th>
                        <th>Name</th>
                        <th>Class</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Dept</th>
                        <th>Arrival</th>
                    </tr>
                </thead>
                <tbody>
                    \{{#each result}}
                    <tr>
                        <td>\{{trainno}}</td>
                        <td>\{{name}}</td>
                        <td>\{{cls}}</td>
                        <td>\{{from}}</td>
                        <td>\{{to}}</td>
                        <td>\{{dep}}</td>
                        <td>\{{arr}}</td>

                    </tr>
                    \{{/each}}
                </tbody>
            </table>
        </div>
    </script>
    <script id="pnr-query-template" type="text/x-handlebars-template">
        <h1 class="page-header">GET PNR STATUS</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-8 placeholder">
                <form class="form-horizontal pnrForm" role="form" action="/pnr" method="POST">
                    <div class="form-group">
                        <label for="fieldpnr" class="col-sm-3 control-label">Enter PNR Number</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" required id="fieldpnr" name="pnr">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-6">
                            <button type="submit" class="btn btn-default" id="findpnr">Check PNR Status</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script id="pnr-result-template" type="text/x-handlebars-template">
        <h3 class="sub-header">PNR Status Result</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>PNR No.</th>
                        <th>Train No.</th>
                        <th>Name</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Class</th>
                        <th>Boarding at</th>
                        <th>Journey Date</th>
                        <th>Charting Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>\{{result.pnr}}</td>
                        <td>\{{result.trainno}}</td>
                        <td>\{{result.name}}</td>
                        <td>\{{result.from}}</td>
                        <td>\{{result.to}}</td>
                        <td>\{{result.cls}}</td>
                        <td>\{{result.brdg}}</td>
                        <td>\{{result.journey}}</td>
                        <td>\{{result.chart}}</td>
                    </tr>
                </tbody>
            </table>
            <h4 class="sub-header">Passengers</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Booking Status</th>
                        <th>Current Status</th>
                        <th>Coach</th>
                    </tr>
                </thead>
                <tbody>
                    \{{#each result.passengers}}
                    <tr>
                        <td>\{{math @index "+" 1}}</td>
                        <td>\{{bookingstatus}}</td>
                        <td>\{{currentstatus}}</td>
                        <td>\{{coach}}</td>
                    </tr>
                    \{{/each}}
                </tbody>
            </table>
        </div>
    </script>
    <script id="route-query-template" type="text/x-handlebars-template">
        <h1 class="page-header">TRAIN ROUTE</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-8 placeholder">
                <form class="form-horizontal routeForm" role="form" action="/route" method="POST">
                    <div class="form-group">
                        <label for="fieldpnr" class="col-sm-3 control-label">Enter Train No</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" required id="fieldRoute" name="trainno">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-6">
                            <button type="submit" class="btn btn-default" id="findRoute">Get Route</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script id="route-result-template" type="text/x-handlebars-template">
        <h2 class="sub-header">Station Routes</h2>
        <!--
    <div><span>Train No: </span><span>\{{result.trainno}}</span>
    </div>
    <div><span>Train Name: </span><span>\{{result.name}}</span>
    </div>
    <h4>Routes</h4>
-->
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Station Code</th>
                        <th>Station Name</th>
                        <th>Arrival</th>
                        <th>Departure</th>
                        <th>Day</th>
                        <th>Remark</th>
                    </tr>
                </thead>
                \{{#each result.route}}
                <tbody>
                    \{{#each stn}}
                    <tr>
                        <td>\{{code}}</td>
                        <td>\{{name}}</td>
                        <td>\{{arr}}</td>
                        <td>\{{dep}}</td>
                        <td>\{{day}}</td>
                        <td>\{{remark}}</td>
                    </tr>
                    \{{/each}}
                </tbody>
                \{{/each}}
            </table>
        </div>
    </script>
    <script id="live-query-template" type="text/x-handlebars-template">
        <h1 class="page-header">Current Status</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-8 placeholder">
                <form class="form-horizontal routeForm" role="form" action="/live" method="POST">
                    <div class="form-group">
                        <label for="fieldpnr" class="col-sm-3 control-label">Enter Train No</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" required id="fieldTrainNo" name="trainno">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="liveStnfrom" class="col-sm-3 control-label">Source Station</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control typeahead" required id="liveStnfrom" name="stnfrom">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fieldDate" class="col-sm-3 control-label">Date</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" required id="fieldDate" name="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-6">
                            <button type="submit" class="btn btn-default" id="findRoute">Get Current Status</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script id="live-result-template" type="text/x-handlebars-template">
        <h2 class="sub-header">Status</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Train Name</th>
                        <th>Station From</th>
                        <th>Scheduled Arrival</th>
                        <th>Scheduled Departure</th>
                        <th>Actual Arrival</th>
                        <th>Actual Departure</th>
                        <th>Delay in Departure(mins)</th>
                        <th>Delay in Arrival(mins)</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>\{{result.name}}</td>
                        <td>\{{result.fromname}}</td>
                        <td>\{{result.scharr}}</td>
                        <td>\{{result.schdep}}</td>
                        <td>\{{result.actarr}}</td>
                        <td>\{{result.actdep}}</td>
                        <td>\{{result.delaydep}}</td>
                        <td>\{{result.delayarr}}</td>
                        <td>\{{result.statusmsg}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </script>
    <script id="seats-query-template" type="text/x-handlebars-template">
        <h1 class="page-header">Trains</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-8 placeholder">
                <form class="form-horizontal seatsForm" role="form" action="/seats" method="POST">
                    <div class="form-group">
                        <label for="fieldpnr" class="col-sm-3 control-label">Enter Train No</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" required id="fieldTrainNo" name="trainno">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="seatsStnfrom" class="col-sm-3 control-label">Source Station</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control typeahead" required id="seatsStnfrom" name="stnfrom">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="seatsStnto" class="col-sm-3 control-label">Destination</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control typeahead" required required id="seatsStnto" name="stnto">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fieldQuota" class="col-sm-3 control-label">Select Quota</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" required id="fieldQuota" name="quota">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fieldClass" class="col-sm-3 control-label">Select Class</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" required id="fieldClass" name="class">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fieldDate" class="col-sm-3 control-label">Date</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" required required id="fieldDate" name="date">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-6">
                            <button type="submit" class="btn btn-default" id="findSeats">Find Seats</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script id="seats-result-template" type="text/x-handlebars-template">
        <h2 class="sub-header">Seats Availibility</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Train No</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Class</th>
                        <th>Quota</th>
                        <th>Seats</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>\{{result.trainno}}</td>
                        <td>\{{result.from}}</td>
                        <td>\{{result.to}}</td>
                        <td>\{{result.cls}}</td>
                        <td>\{{result.quota}}</td>
                        <td>
                            <table class="table table-striped">
                                <tbody>
                                    \{{#each result.seats}}
                                    <tr>
                                        <td>\{{date}}</td>
                                        <td>\{{seat}}</td>
                                    </tr>
                                    \{{/each}}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </script>
</head>

<body>
    {{{body}}}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Profile</a>
                    </li>
                    <li><a href="#">Help</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar" id='nav-sidebar'>
                    <!--li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li-->
                    <li id='live' class="active"><a href="#">Live Status</a>
                    </li>
                    <li id='pnr'><a href="#">PNR Status</a>
                    </li>
                    <li id='seats'><a href="#">Seat Availability</a>
                    </li>
                    <li id='trains'><a href="#">Trains</a>
                    </li>
                    <li id='route'><a href="#">Route</a>
                    </li>
                    <li id='fare'><a href="#">Fare</a>
                    </li>

                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div id="query">
                    {{{_sections.query}}}
                </div>
                <div id="result">
                    {{{_sections.result}}}
                </div>
            </div>
        </div>
    </div>
    <!-- adding libs-->
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>
    <script src="../js/jquery.typeahead.js"></script>
    <script src="../js/view-handler.min.js"></script>
</body>

</html>